<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if @expense.errors.any? %>
      <div class="alert-danger">
        <% @expense.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
      </div>
    <% end %>
    <%= simple_form_for @expense do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :event_date %>
      <%= f.input :pay_date %>
      <%= f.input :total_price %>
      <%= f.input :participants_amount %>
      <div class="action">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>

</div>
