<%= render @expense %>

<% if @current_user_expense.payment_status != 'paid' %>
  <%= simple_form_for @current_user_expense, url: user_expense_path(@expense), html: { multipart: true } do |form| %>
    <legend>Envie aqui seu comprovante do pagamento:</legend>
    <%= form.input :payment_voucher %>
    <%= form.button :submit %>
  <% end %>
<% end %>

<h2>Participantes</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Status de Pagamento</th>
      <th scope="col">Comprovante de Pagamento</th>
    </tr>
  </thead>
  <tbody>
    <% @user_expenses.each do |user_expense| %>
      <tr>
        <td><%= user_expense.user.name %></td>
        <td id='<%= "status_#{ user_expense.user.id }" %>'><%= t(user_expense.payment_status) %></td>
        <td id='<%= "receipt_#{ user_expense.user.id }" %>'><%= link_to 'Comprovante de pagamento', user_expense_path(user_expense) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
