<!DOCTYPE html>
<html>
  <head>
    <title>Rateio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= link_to 'Rateio =)', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Criar Rateio', new_expense_path, class: 'nav-link' %>
          </li>
          <% if !user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Cadastrar', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Meus Rateios', expenses_path, class: 'nav-link' %>
          </li>
            <li class="nav-item">
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
